$resolutions: (
  xxs: $screen-xxs,
  xs: $screen-xs,
  sm: $screen-sm,
  md: $screen-md,
  lg: $screen-lg
) !default;

$spaces: (
  0: 0,
  1: 5px,
  2: 10px,
  3: 15px,
  4: 20px,
  5: 25px,
  6: 30px,
  7: 35px,
  8: 40px,
  9: 45px,
  10: 50px
) !default;

$colors: (
  white: #fff,
  primary: $color-primary,
  primary-light: $color-primary-light,
  primary-bg: $color-primary-bg,
  secondary: $color-secondary,
  tertiary: $color-tertiary,
  section: $color-section,
  highlight: $color-highlight,
  light: $color-light,
  warning: $color-warning,
  disabled: $color-disabled
) !default;

$font-sizes: (
  base: $base-font-size,
  xxs: $font-size-xxs,
  xs: $font-size-xs,
  sm: $font-size-sm,
  md: $font-size-md,
  lg: $font-size-lg,
  lg-x: $font-size-lg-x
) !default;

$grid-cols-count: 12;
$grid-spacing: 20px;
