$icon-ez: "\e90c";
$icon-bing: "\e90d";
$icon-clock: "\e90a";
$icon-tel: "\e909";
$icon-map: "\e908";
$icon-check: "\e900";
$icon-facebook: "\e901";
$icon-g-plus: "\e902";
$icon-instagram: "\e903";
$icon-next: "\e904";
$icon-previous: "\e905";
$icon-search: "\e906";
$icon-twitter: "\e907";
$icon-menu: "\e921";
$icon-arrow-down: "\e90e";
$icon-calendar: "\e90b";
$icon-laundry-washer-svgrepo-com-1: "\e910";
$icon-location: "\e947";
$icon-location2: "\e948";
$icon-compass: "\e949";
$icon-compass2: "\e94a";
$icon-target: "\e9b3";
$icon-google: "\ea88";
$icon-google-plus: "\ea8b";
$icon-foursquare: "\ead6";
$icon-yelp: "\ead7";
